{% macro bin(fill_percent, name, last_updated) %}
<div class="bin-wrapper">
  <div class="bin">
    <div
      class="{{'fill-red' if fill_percent > 75 else 'fill-yellow' if fill_percent > 50 else 'fill-blue' if fill_percent > 25 else 'fill-green'}}"
      style="height:{{fill_percent}}%"
    ></div>
  </div>
  <h5 class="mb-3">{{name}}</h5>
  <p class="mb-0"><strong> {{fill_percent}}% </strong> full</p>
  <p class="text-center"><strong>Last updated:</strong> {{last_updated.strftime("%A, %d %b %Y, %-I:%M:%S %p")}}</p>
</div>
{%endmacro %}
