{% from "macros/bin_graphic_fp.html" import bin_graphic_fp with context %}

{% extends "base.html" %}

{% block content %}

<div class="row">
  <?xml version="1.0" encoding="utf-8"?>
  <svg viewBox="0 0 500 350" xmlns="http://www.w3.org/2000/svg">
    <rect
      x="18.692"
      y="31.376"
      width="458.611"
      height="277.036"
      style="fill: none; stroke: rgb(0, 0, 0); stroke-width: 2px"
    />
    <rect
      x="18.024"
      y="196.633"
      width="124.833"
      height="111.482"
      style="fill: none; stroke: rgb(0, 0, 0)"
    />
    <rect
      x="18.024"
      y="196.633"
      width="124.833"
      height="111.482"
      style="fill: none; stroke: rgb(0, 0, 0)"
    />
    <rect
      x="142.857"
      y="196.633"
      width="124.833"
      height="111.482"
      style="fill: none; stroke: rgb(0, 0, 0)"
    />
    <rect
      x="351.802"
      y="196.298"
      width="124.833"
      height="111.482"
      style="fill: none; stroke: rgb(0, 0, 0)"
    />
    <rect
      x="19.359"
      y="31.079"
      width="241.655"
      height="97.463"
      style="fill: none; stroke: rgb(0, 0, 0)"
    />
    <rect
      x="-400.534"
      y="31.079"
      width="139.52"
      height="97.463"
      style="fill: none; stroke: rgb(0, 0, 0)"
      transform="matrix(-1, 0, 0, 1, 0, 0)"
    />

    <!-- bins -->
    {{bin_graphic_fp("/bin/alpha", 24.032, 37.309, data["alpha"])}}
    <text style="transform: translate(48px, 52px);font-size: 12px">{{data["alpha"]}}%</text>
    
    {{bin_graphic_fp("/bin/bravo", 266.355, 37.977, data["bravo"])}}
    <text style="transform: translate(291px, 52px);font-size: 12px;">{{data["bravo"]}}%</text>

    {{bin_graphic_fp("/bin/charlie", 451.268, 35.307, data["charlie"])}}
    <text style="transform: translate(425px, 50px);font-size: 12px;">{{data["charlie"]}}%</text>

    {{bin_graphic_fp("/bin/delta", 27.37, 282.302, data["delta"])}}
    <text style="transform: translate(51px, 296px);font-size: 12px;">{{data["delta"]}}%</text>

    {{bin_graphic_fp("/bin/delta", 147.529, 281.636, data["echo"])}}
    <text style="transform: translate(172px, 296px);font-size: 12px;">{{data["echo"]}}%</text>

    {{bin_graphic_fp("/bin/alpha", 272.362, 282.303, data["alpha"])}}
    <text style="transform: translate(296px, 297px);font-size: 12px;">{{data["alpha"]}}%</text>

    {{bin_graphic_fp("/bin/bravo", 449.265, 282.971, data["bravo"])}}
    <text style="transform: translate(423px, 298px);font-size: 12px;">{{data["bravo"]}}%</text>
  </svg>
</div>

<script>
  document.getElementById("floorplan-nav-anchor").classList.add("active");
</script>
{% endblock %}
