$primary: #F59E0B;
$secondary: #7C3AED;
$success: #10B981;
$info: #6366F1;
$warning: #FCD34D;
$danger: #EF4444;

$border-radius: .375rem;
$border-radius-sm: .375rem;
$border-radius-lg: .4rem;

$font-weight-bold: 500;
$font-weight-bolder: 700;
$btn-font-weight: $font-weight-bold;

$enable-responsive-font-sizes: true;
